input{
  margin: 3.5%;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  width: 55vw;
}

body{
  font-weight: bold;
  background-color: #5067FF;
  font-size: 18px;
}

.dropdown{
  margin-top: 5%;
}

.btn-success, .btn-warning{
  font-size: 16px;
  margin-top: 3%;
  font-weight: bold;
  width: 30vw;
  height: 7vh;
}

img{
  width: 30%;
  height: auto;
  margin-top: 3%;
}
